.centerText{
    text-align: center;
}

.leftText{
    text-align: left;
}

.container{
    margin-top: 20px;
}

button{
    margin: 5px;
    border-color:black;
    color:black;
}

.button:hover{
    background-color:black;
    transition: 0.7s;
    color: white;
}

.flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    min-height: 1000px;
}

