.centerText{
    text-align: center;
}


.container{
    margin-top: 20px;
}

button{
    margin: 5px;
    border-color:black;
    color:black;
}

.button:hover{
    background-color:black;
    transition: 0.7s;
    color: white;
}

